div {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box; /* 크기에 padding&border포함 */
    white-space: pre-line
}
.horizontal{
    flex-direction: row;
}
.vertical{
    flex-direction: column;
}
.wrapper{
    min-width: 1100px;
    max-width: 1140px;
    padding: 40px 20px;
    background-color: #eef0f0;
    align-items: center;
    justify-content: space-evenly;
}

.container{
    padding: 40px 0;
    justify-content: space-evenly;
}

.container-header{
    justify-content: space-between;
    padding: 0 20px;
}

.container-body{
    padding: 20px;
}

.MuiTypography-root{
    width: fit-content;
}
.w_one_third{
    width: 32%;
}
.w_two_third{
    width: 64%;
}